@{
    ViewBag.Title = "Datos del Creador";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

    <li>Yeison Siri</li>
    <li>20187361@itla.edu.do</li>
    <li><a target="_blank" href="https://t.me/yeisonsiri">Link en Telegram</a></li>
    <br/>
<img style="display: flex; flex-flow:wrap; width:350px;" src="~/Imgenes/yeison.jpg">