@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <img src="~/Imgenes/amazon.jpg" width="300" alt="Clientes" />
</div>
<form class="text-center">
    <h2>Bienvenido</h2>
    <p>Este es un sistema con el fin de que tu empresa este mejor organizada</p>
    <br />
    <a title="Ventas" href="/Ventas/Formulario"><img src="~/Imgenes/venta.png" width="100" alt="Ventas" /></a>
    <a title="Clientes" href="/Cliente/Formulario"><img src="~/Imgenes/cliente.png" width="100" alt="Clientes" /></a>
    <a title="Proveedor" href="/Proveedor/Formulario"><img src="~/Imgenes/proveedor.png" width="100" alt="Proveedor" /></a>
    <a title="Producto" href="/Producto/Formulario"><img src="~/Imgenes/producto.jpg" width="100" alt="Producto" /></a>
    
</form>