
@{
    ViewBag.Title = "crear";
}

<div class="container">
    <div class="col-md-offset-3 col-md-4">

        <h2>Agregar Proveedor</h2>
    </div>
    <br />
    <div class="col-md-offset-3 col-md-4">

        <form class="table-bordered" action="" method="post">

                <button type="submit" class="btn btn-info">Izquierdo</button>
                

            <div class="form-group ">
                <label>ID:</label>

                <input type="text" name="txtId" value="" placeholder="Ingrese su ID" class="form-control" />
            </div>
            <div class="form-group">
                <label>Cedula:</label>

                <input type="text" name="txtCedula" value="" placeholder="Ingrese su cedula" class="form-control" />
            </div>
            <div class="form-group">
                <label>Nombre:</label>

                <input type="text" name="txtNombre" value="" placeholder="Ingrese su nombre" class="form-control" />
            </div>
            <div class="form-group">
                <label>Telefono:</label>
                <input type="text" name="txtTelefono" value="" placeholder="Ingrese su telefono" class="form-control" />
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="email" name="email" value="" placeholder="Ingrese su Email" class="form-control" />
            </div>
            
        </form>
    </div>
</div>

